{% extends "base.html" %}
{% load cache %}
{% cache None author %}
  {% block title %}Об авторе проекта{% endblock %}
  {% block content %}
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <p>Ковылин Василий 
                    Студент 16-ой когорты
                    курса "PYTHON разработчик"
                    Яндекс.Практикума
                  </p>
                  <p>профиль на <a href="https://github.com/coherentus" title="https://github.com/coherentus" target="_blank">GitHub</a></p>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>Приветствую всех посетителей моего проекта. </p>
            <p>Данный проект является моим первым опытом в разработке 
              web-приложения.
            </p>
            <p>Заняться изучением нового для меня рода деятельности 
              заставило стремление изменить свою жизнь к лучшему.
            </p>
            <p>Моя любимая жена не преминула приложить к моим стараниям своё участие.</p>
            <p>В процессе обучения неоценимую помощь оказывают куратор курса 
              Мария Шестакова, ревьюер Антон Машкин, наставник Антон Гавриш, 
              а также сокурсники и другие наставники и ревьюеры
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  {% endblock %} 
{% endcache %}